@media (max-width: 991px) {
    .promo {
        &__wrapper {
            padding-right: 25px;
        }
    }
    .header {
        padding: 0px 25px;
    }
    .advantage {
        &__wrapper {
            padding: 0 25px;
        }
        &__item {
            width: 220px;
        }
    }
}

@media (max-width: 767px) {
    .promo {
        &__wrapper {
            align-items: center;
            padding: 0;
        }
    }
    .header {
        &__logo {
            width: 180px;
            img {
                width: 100%;
            }
        }
        &__official {
            width: 130px;
            font-size: 10px;
            span {
                margin-top: 10px;
                font-size: 16px;
                line-height: 16px;
            }
        }
        &__phone {
            font-size: 15px;
        }
    }
    .advantage {
        &__item {
            width: 150px;
        }
    }
}

@media (max-width: 575px) {
    .promo {
        min-height: 600px;
        padding: 25px 0 25px 0;
        &__wrapper {
            align-items: center;
            margin-top: 20px;
            padding: 0 25px;
        }
        &__header {
            font-size: 35px;
            text-align: center;
        }
        &__subheader {
            text-align: center;
            font-size: 16px;
        }
        &__icons {
            align-items: center;
            margin-top: 15px;
            width: 100%;
        }
        &__icon {
            font-size: 12px;
        }
    }
    .button {
        margin-top: 10px;
        width: 225px;
        height: 32px;
        font-size: 14px;
        &_main {
            margin-top: 25px;
        }
    }
    .header {
        flex-direction: column;
        &__logo {
            width: 250px;
            img {
                width: 100%;
            } 
        }
        &__official {
            display: none;
        }
        &__contacts {
            margin-top: 20px;
            align-items: center;
        }
        &__phone {
           font-size: 24px;
        }
    }
    .advantage {
        padding: 25px 0 25px 0;
        &__header {
            line-height: 33px;
        }
        &__wrapper {
            margin-top: 10px;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item {
            margin-top: 20px;
            width: 100%;
        }
        &__title {
            margin-top: 18px;
        }
        &__descr {
            margin-top: 18px;
        }
    }
    
}