@media (max-width: 1200px) {
    .container {
        padding: 0 30px;
    }
    .advantages {
        &__item {
           width: 210px;
        }
    }
    .carousel {
        &__inner {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}
@media (max-width: 767px) {
    .container {
        padding: 0 20px;
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .header {
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 15px;
            }
        }
        &__phone {
            font-size: 15px;
        }
    }
    .advantages {
        &__item {
           width: 160px;
        }
    }
}
@media (max-width: 575px) {
    .container {
        padding: 0 10px;
    }
    .promo {
        &__wrapper {
            margin-top: 45px;
        }
        &__header {
            font-size: 38px;
            text-align: center;
        }
        &__subheader {
            text-align: center;
        }
        &__icons {
            width: 100%;
            margin-top: 45px;
        }
        &__icon {
            font-size: 12px;
            line-height: 12px;
        }
    }
    .header {
        flex-wrap: wrap;
        justify-content: space-around;
        &__official {
            margin-top: 10px;
        }
        &__contacts {
            align-items: center;
            margin-top: 20px;
        }
        &__phone {
            font-size: 25px;
        }
    }
    .button {
        margin-top: 20px;
        width: 100%;
        &_main {
            margin-top: 45px;
        }
    }
    .advantages {
        padding: 40px 0;
        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
        }
        &__item {
            width: 100%;
            &:nth-child(2) {
                margin-top: 30px;
            }
            &:nth-child(3) {
                margin-top: 30px;
            }
        }
        &__subtitle {
            margin-top: 15px;
        }
        &__descr {
            margin-top: 12px;
        }
    }
    .consultation {
        padding: 40px 0;
        &__descr {
            font-size: 17px;
            text-align: center;
        }
    }
    .title {
        &_left {
            font-size: 30px;
            text-align: center;
        }
    }
    .feed-form {
        margin: 36px auto 0 auto;
    }
    .carousel {
        padding: 45px 0;
    }
}